/*
!/.*
/.cache
/.local
/.yadm
/.SpaceVim
/.android
/.antigen
/.aws
/.bundle
/.config
/.cups
/.docker
/.dropbox
/.fzf
/.gem
/.goenv
/.gradle
/.httpie
/.jenv
/.kube
/.m2
/.minikube
/.mono
/.npm
/.nvm
/.omnisharp
/.poetry
/.pyenv
/.rbenv
/.rest-client
/.sdkman
/.skaffold
/.ssh
/.sts4
/.subversion
/.tldrc
/.tooling
/.vscode
/.vsts

.CFUserTextEncoding
.DS_*
.Trash

.fzf*
.testcontainers*
.viminfo
.z
.zcompdump
.zsh_history
.zshrc.zwc

*.log
*.swp
*.swo

!/bin
!/.config/bat
!/.config/nvim
!antigen.zsh

.Brewfile

