[user]
	email = zeljko.margeta@gmail.com
	name = Željko Margeta
[core]
	editor = vim
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -d '$wincmd w' -c 'wincmd J'
