[updates]
auto_update = true
auto_update_interval_hours = 24

[directories]
cache_dir = "{{ .chezmoi.homeDir }}/.cache/tealdeer"
custom_pages_dir = "{{ .chezmoi.homeDir }}/.local/share/tealdeer/custom-tldr-pages/"
