if type -q fzf
  if type -q fd
    set -gx FZF_DEFAULT_COMMAND 'fd --type f --strip-cwd-prefix'
    set -gx FZF_DEFAULT_OPTS "\
--ansi \
--highlight-line \
--border=none \
--prompt=' ' \
--pointer= \
--marker= \
--height=10% \
--layout=default \
--scheme=default \
--color=bg+:#3c3836 \
--color=bg:#32302f \
--color=spinner:#fb4934 \
--color=hl:#928374 \
--color=fg:#ebdbb2 \
--color=header:#928374 \
--color=info:#8ec07c \
--color=pointer:#fb4934 \
--color=marker:#fb4934 \
--color=fg+:#ebdbb2 \
--color=prompt:#fb4934 \
--color=hl+:#fb4934"
    set -gx FZF_CTRL_T_COMMAND 'fd --type f --strip-cwd-prefix $dir'
    set -gx FZF_CTRL_T_OPTS '--height=10% --layout=reverse-list --scheme=path'
    set -gx FZF_ALT_C_COMMAND 'fd --type d --strip-cwd-prefix $dir'
    set -gx FZF_ALT_C_OPTS '--height=10% --layout=reverse-list --scheme=path'
    set -gx FZF_CTRL_R_OPTS '--height=10% --scheme=history'
  end
  if status is-interactive
{{- if eq .chezmoi.os "darwin" }}
    if type -q brew
      set -l path (brew --prefix fzf)/shell/key-bindings.fish
      if test -f $path
        source $path
        fzf_key_bindings
      end
    end
{{- end }}
  end
end
