if type -q fzf
  if type -q fd
    set -gx FZF_DEFAULT_COMMAND 'fd --type f --strip-cwd-prefix'
    set -gx FZF_DEFAULT_OPTS '
        --ansi
        --prompt=\' \'
        --pointer=
        --marker=
        --height=10%
        --layout=default
        --scheme=default
        --color=fg:#c0caf5,bg:#24283b,hl:#ff9e64
        --color=fg+:#c0caf5,bg+:#292e42,hl+:#ff9e64
        --color=info:#7aa2f7,prompt:#7dcfff,pointer:#7dcfff
        --color=marker:#9ece6a,spinner:#9ece6a,header:#9ece6a'
    set -gx FZF_CTRL_T_COMMAND 'fd --type f --strip-cwd-prefix $dir'
    set -gx FZF_CTRL_T_OPTS '--height=10% --layout=reverse-list --scheme=path'
    set -gx FZF_ALT_C_COMMAND 'fd --type d --strip-cwd-prefix $dir'
    set -gx FZF_ALT_C_OPTS '--height=10% --layout=reverse-list --scheme=path'
    set -gx FZF_CTRL_R_OPTS '--height=10% --scheme=history'
  end
{{- if eq .chezmoi.os "darwin" }}
  if type -q brew
    set -l path (brew --prefix fzf)/shell/key-bindings.fish
    if test -f $path
      source $path
      fzf_key_bindings
    end
  end
{{- end }}
end
