if type -q asdf
  set -gx ASDF_CONFIG_FILE $XDG_CONFIG_HOME/asdf/asdfrc
  set -gx ASDF_DATA_DIR $XDG_DATA_HOME/asdf
{{- if eq .chezmoi.os "darwin" }}
  if type -q brew
    set -gx ASDF_DIR (brew --prefix asdf)/libexec
    source $ASDF_DIR/asdf.fish
  end
{{- end }}
  if test -f $ASDF_DATA_DIR/plugins/java/set-java-home.fish
    source $ASDF_DATA_DIR/plugins/java/set-java-home.fish
  end
end
